<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <a href="/" class="btn">Home</a>
                <h1>Welcome to the Dashboard, <%= user.username %>!</h1>
                <ul>
                    <li><a href="/dashboard/edit" class="btn">Edit Profile</a></li>
                    <li><a href="/delete_account" class="btn">Delete Account</a></li>
                    <li>
                        <form action="/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="profile-info">
                <h2>Your Profile:</h2>
                <p>Username: <%= user.username %>
                </p>
                <p>Email: <%= user.email %>
                </p>
            </div>
        </div>
    </main>
</body>

</html>